extends layout

block content
    section.about-us
      h1 About Us
      p Myntra is a E-commerce web site. Our passion for creating  dresses and selling them is so pure.You will indulge into the shopping experience with myntra.
      a.btn-reserve(href="/reserve") Reserve to a page