extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Dark-Chocolate
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          .panel.panel-primary
            .panel-heading
              h2.panel-title Dark chocolate icecream
               span.badge.pull-right.badge-default Rs.300
            .panel-body
              img(src="images/darkchocolate.jpeg", alt="darkchocolate", style="width: 20%; height: auto;")
              p Signature dark chocolate waffle with melted belgian chocolate.
    
          .panel.panel-primary
            .panel-heading
              h2.panel-title Tripple chocolate
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/tripplechocolate.jpeg", alt="Tripplechocolate", style="width: 20%; height: auto;")
              p Three layers of melted white,belgian white and belgian dark chocolate.

          .panel.panel-primary
            .panel-heading
              h2.panel-title Dark chocolate overload
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/darkchocolate-overload.jpeg", alt="Darkchocolateoverload", style="width: 20%; height: auto;")
              p A delightful dark chocolate overload.Double the chocolate.
              
          .panel.panel-primary
            .panel-heading
              h2.panel-title Death by chocolate
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/deathbychocolate.jpeg", alt="deathbychocolate", style="width: 20%; height: auto;")
              p Signature Dark chocolate waffle layed with different chocolates.
        .col-xs-12.col-sm-4
           p.lead
             | Embark on a savory adventure with our dark chocolate at Wafflepark, where dark chocolate flavours offers a tantal promise an unforgettable dining experience.