extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Myntra
          small &nbsp;Find some amazing  of your choice
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/earphones') Earphones
            small &nbsp;
              span.glyphicon-menu-hamburger
          p
            span.label.label-warning contain wires
            | &nbsp;
            span.label.label-warning wired
            | &nbsp;
            span.label.label-warning your choice of s
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/dress') Dress
            small &nbsp;
              span.glyphicon-menu-hamburger
              
          p
            span.label.label-warning polyster
            | &nbsp;
            span.label.label-warning your choice of seasoning
            | &nbsp;
            span.label.label-warning jeans
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/shoe') Shoe
            small &nbsp;
              span.glyphicon-ice-lolly-tasted
              
          p
            span.label.label-warning sneakers
            | &nbsp;
            span.label.label-warning canvas
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Welcome to our myntra, where there are a lot of options for the shopping like dresses,shoes.