extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Milkchocolate
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          .panel.panel-primary
            .panel-heading
              h2.panel-title Milk chocolate
               span.badge.pull-right.badge-default Rs.300
            .panel-body
              img(src="images/milkchocolate.jpeg", alt="milkchocolate", style="width: 20%; height: auto;")
              p Signature milk chocolate waffle.Original style!
          .panel.panel-primary
            .panel-heading
              h2.panel-title raspberry waffle
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/raspberry.jpeg", alt="raspberry", style="width: 20%; height: auto;")
              p Signature raspberry chocolate waffle.Original style!
        .col-xs-12.col-sm-4
           p.lead
             | Embark on a savory adventure with our milk chocolate at Wafflepark, where white chocolate flavous offers a tantal promise an unforgettable dining experience.  