extends layout

block content
  .row.page-header
    .col-lg-12
      h1 White chocolate
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          .panel.panel-primary
            .panel-heading
              h2.panel-title red velvet 
               span.badge.pull-right.badge-default Rs.300
            .panel-body
              img(src="images/redvelvet.jpeg", alt="redvelvet", style="width: 20%; height: auto;")
              p Original velvet with cheese and cream.A true original!
          .panel.panel-primary
            .panel-heading
              h2.panel-title tripple cookie
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/tripplecookie.jpeg", alt="tripplecookie", style="width: 20%; height: auto;")
              p Original red velvet with biscoff cookie.
        .col-xs-12.col-sm-4
           p.lead
             | Embark on a savory adventure with our white chocolate at Wafflepark, where white chocolate flavous offers a tantal promise an unforgettable dining experience. 